<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p  style="font-size: large;font-weight: bold"  th:text="${msg}"></p>
<table class="container" border="1px solid">
    <form action="/pct/create" method="post" th:object="${pct}">
    <tr>
        <th colspan="2" style="text-align: center">Thêm mới phiếu công tác</th>
    </tr>
    <tr>
        <td>Chỉ huy</td>
        <td>  <input type="text" th:field="${pct.leader}" placeholder="Tên chỉ huy">
            <p style="color: red" th:if="${#fields.hasErrors()}" th:errors="${pct.leader}"></p></td>
    </tr>
    <tr>
        <td>Nhân viên</td>
        <td>  <input type="text" th:field="${pct.employee}" placeholder="Tên nhân viên">
            <p th:if="${#fields.hasErrors()}" th:errors="${pct.employee}"></p></td>
    </tr>
    <tr>
        <td>Nội dung</td>
        <td>    <input type="text" th:field="${pct.workDescription}" placeholder="Nội dung công tác">
            <p th:if="${#fields.hasErrors()}" th:errors="${pct.workDescription}"></p></td>
    </tr>
    <tr>
        <td>Ngày bắt đầu</td>
        <td>    <input type="date" th:field="${pct.startDay}" placeholder="Ngày bắt đầu">
            <p th:if="${#fields.hasErrors()}" th:errors="${pct.startDay}"></p></td>
    </tr>
    <tr>
        <td>Ngày kết thúc</td>
        <td>    <input type="date" th:field="${pct.endDay}" placeholder="Ngày kết thúc">
            <p th:if="${#fields.hasErrors()}" th:errors="${pct.endDay}"></p></td>
    </tr>
        <tr><td>
            Hình thức sửa chữa
        </td>
            <td ><select th:field="${pct.type}">
                <option th:each="type: ${typeList}" th:text="${type.typeName}" th:value="${type.typeId}"></option>
            </select></td>
        </tr>
    <tr>
        <td colspan="2" style="align-content: center"><button class="btn btn-primary" type="submit">Tạo mới</button></td>
    </tr>
    </form>
</table>
<!--<form action="/pct/create" method="post" th:object="${pct}">-->
<!--    <input type="text" th:field="${pct.leader}" placeholder="Tên chỉ huy">-->
<!--    <p style="color: red" th:if="${#fields.hasErrors()}" th:errors="${pct.leader}"></p>-->
<!--    <input type="text" th:field="${pct.employee}" placeholder="Tên nhân viên">-->
<!--    <p th:if="${#fields.hasErrors()}" th:errors="${pct.employee}"></p>-->
<!--    <input type="text" th:field="${pct.workDescription}" placeholder="Nội dung công tác">-->
<!--    <p th:if="${#fields.hasErrors()}" th:errors="${pct.workDescription}"></p>-->
<!--    <input type="date" th:field="${pct.startDay}" placeholder="Ngày bắt đầu">-->
<!--    <p th:if="${#fields.hasErrors()}" th:errors="${pct.startDay}"></p>-->
<!--    <input type="date" th:field="${pct.endDay}" placeholder="Ngày kết thúc">-->
<!--    <p th:if="${#fields.hasErrors()}" th:errors="${pct.endDay}"></p>-->
<!--    <select th:field="${pct.type}">-->
<!--        <option th:each="type: ${typeList}" th:text="${type.typeName}" th:value="${type.typeId}"></option>-->
<!--    </select>-->
<!--    <button type="submit">Tạo mới</button>-->
<!--</form>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>